@{

    ViewBag.Title = "Cache Cleared";
}

<h1>Cache</h1>

Thank you the cache was successfully cleared.
<br/><br/>
<div class="PageNavigationBar">
    @Html.ActionLink("back to admin", "Index", null, new { @class = "BackLink" })
</div>
