@{
    ViewBag.Title = "FacebookPostFailed";
}

<div class="pageHeader">post to facebook failed</div>

<br/>

Sorry, but the post to Facebook failed. Please contact your support technician.

<br/><br/>

@Html.ActionLink("Return to Item", "Edit", new { id = ViewBag.ShopItemId }, new { @class = "BackLink" }) 

<br/><br/>