@{
    ViewBag.Title = "TwitterPostFailed";
}


<div class="pageHeader">post to twitter failed</div>

<br/>

Sorry, but the post to Twitter failed. Please contact your support technician.

<br/><br/>

@Html.ActionLink("Return to Item", "Edit", new { id = ViewBag.ShopItemId }, new { @class = "BackLink" }) 

<br/><br/>
