@model SharedLibrary.ViewModels.ForgotPasswordVm


<div class="pageHeader">forgot password</div>

<br />      
Please fill in your email address below, and we will send you a new password.
<br /><br />



@using (Html.BeginForm())
{ 
    
     <div class="editor-label">
            @Html.LabelFor(model => model.EmailAddress)
     </div>
     <div class="editor-field">
            @Html.TextBoxFor(model => model.EmailAddress, new { style = "width:150px;" })
            @Html.ValidationMessageFor(model => model.EmailAddress)
     </div>
    
        
     <input type="submit" value="Send" />
    
    <br /><br />
                        
}

