@{
    ViewBag.Title = "RegistrationSuccess";
}


<div class="pageHeader">registration successful</div>
<br/>
    

    Thank you so much for registering with us.<br/><br/>
    
    Happy shopping!

    <br/><br/>
    
