@using NoMatterWebApiWebHelper.OtherHelpers
@{
    ViewBag.Title = "Home Page";
}

<center>
    <img src="@StaticGlobalSettings.ImagesBaseAddress@StaticGlobalSettings.ClientLogo"/>
    <br/><br/>



</center>

<div class="module mid lr">
        
        <img src="~/Content/images/chair.jpg"/>

         <h2>Furniture</h2>
       
    </div>