@{
    ViewBag.Title = "PaymentSuccessful";
}

<div class="pageHeader">Yay, order completed successfully!</div>
<br/>
    

    Thank you, the payment was successful and your order has been placed. <br /><br />
    
    An email will be sent to you with more information, and your items will be shipped as soon as possible. <br /><br />
    
    Thank you for shopping with us!

    <br/><br/>
    
<script src="@Url.Content("~/Scripts/GoogleAnalytics.js")" type="text/javascript"></script>