@model SharedLibrary.ViewModels.PaymentCancelledVm
@{
    ViewBag.Title = "PaymentCancelled";
}


<div class="pageHeader">Oh no, your payment was cancelled</div>
<br/>
    
But why dont you try and checkout your cart again using a different payment method.

<br/><br/>
 
<script src="@Url.Content("~/Scripts/GoogleAnalytics.js")" type="text/javascript"></script>
   
