<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <client>
      <endpoint address="https://www.googleapis.com/urlshortener/v1"
     binding="webHttpBinding"
     bindingConfiguration="webBinding"
     behaviorConfiguration="urlShortener"
     contract="GoogleAPI.UrlShortener.IUrlShortenerService"
     name="UrlShortenerREST" />
    </client>

    <bindings>
      <webHttpBinding>
        <binding name="webBinding">
          <security mode="Transport"></security>
        </binding>
      </webHttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="urlShortener">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>

</configuration>
