<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DbConnectionString" providerName="MySql.Data.MySqlClient" connectionString="Data Source=localhost;Initial Catalog=nomatter_db; User ID=root; Password=DigiDB69" />
    <add name="DatabaseModelEntities" connectionString="metadata=res://*/DatabaseModel.DatabaseModel.csdl|res://*/DatabaseModel.DatabaseModel.ssdl|res://*/DatabaseModel.DatabaseModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=DigiDB69;Persist Security Info=True;database=pdt_db&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="DatabaseModelEntities" connectionString="metadata=res://*/DatabaseModel.DatabaseModel.csdl|res://*/DatabaseModel.DatabaseModel.ssdl|res://*/DatabaseModel.DatabaseModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=poisonivy.aserv.co.za;User Id=nomatecd_user;password=BnxhnDG7;Persist Security Info=True;database=nomatecd_db&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.net>
    <mailSettings>
      <!--<smtp from="sales@prettydamnthrifty.co.za">
        <network host="mail.prettydamnthrifty.co.za" password="xa87Sm9X" port="25" userName="prettjcb" defaultCredentials="false" />
      </smtp>-->
      <smtp from="sales@prettydamnthrifty.co.za" deliveryMethod="SpecifiedPickupDirectory">
        <network host="localhost" />
        <specifiedPickupDirectory pickupDirectoryLocation="d:\temp\emails\" />
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SiteName" value="PrettyDamnThrifty.co.za" />
    <add key="SiteNameFriendly" value="Pretty Damn Thrifty" />
    <add key="SiteDescription" value="Pretty Damn Thrifty - Your online thrift store selling good quality second-hand vintage clothing and accessories" />
    <add key="SiteMetaDescription" value="Online thrift store selling good quality second-hand vintage clothing and accessories" />
    <add key="SiteHomePageTitle" value="Vintage Thrift Store" />
    <add key="SiteUrl" value="http://www.nomatterweb.co.za" />
    <!--<add key="SiteUrl" value="http://localhost/prettydamnthriftyweb" />-->
    <add key="SiteLogoPath" value="/Content/images/logoFB.png" />
    <add key="SEOKeywords" value="clothing, clothes, thrifty, thifted, thrift, skirts, dresses, vintage, secondhand, store, shop, online, pretty, bags, handbags, belts, shirts, blouse, johannesburg, south africa" />
    <add key="AdminUsername" value="admin" />
    <add key="ShopItemPath" value="/Shop/item/" />
    <add key="ShopImagesPath" value="~/Content/ShopImages/" />
    <add key="SliderImagesPath" value="~/Content/SliderImages/" />
    <add key="CategoryImagesPath" value="~/Content/CategoryImages/" />
    <add key="OgShopImagesPath" value="/Content/ShopImages/" />
    <add key="FacebookAuthRedirectPath" value="/Account/FacebookAuth" />
    <add key="TwitterAuthRedirectPath" value="/Account/AuthoriseTwitter" />
    <add key="ShopItemImageMaxSize" value="1000" />
    <add key="CategoryImageMaxSize" value="800" />
    <add key="SliderImageMaxSize" value="1200" />
    
    <add key="PayfastMerchantId" value="" />
    <add key="PayfastMerchantKey" value="" />
    <add key="PayfastPaymentMode" value="test" />
    <add key="PayfastReturnUrl" value="/Checkout/PayfastPaymentSuccessful" />
    <add key="PayfastCancelUrl" value="/Checkout/PayfastCancelPayment" />
    <add key="PayfastNotifyUrl" value="/Checkout/PayfastNotifyPayment" />

    <add key="TwitterPostingEnabled" value="true" />
    <add key="TwitterKey" value="irUpBd0MCHpY37roxFQw" />
    <add key="TwitterSecret" value="DOng93R0OzCFpj6kCFHNl3AQZD3TclV51FRA5XOYQI" />
    <add key="TwitterAccessToken" value="4UVhDdvmbfOJ6GByeCLlm5HTot8StiYeVh9cWWUZ2EY" />
    <add key="TwitterOAuthToken" value="21469048-CUFkTxtBphbvrs8h7B9HM9zEgictIDbwwtPX0tOzu" />

    <add key="FacebookPostingEnabled" value="true" />
    <add key="FacebookAppId" value="717377184944520" />
    <add key="FacebookSecret" value="4588d47b6ae0649276fb8f9081b2867d" />
    <add key="FacebookPageAccessToken" value="CAAHZCltNp29sBAJhi8GFgjrElNlggZBtWZBKQoHZBmE4BqSG26g5pWQK5oBFj3ZBZAx5DDsny277UdhPXxdnshian3TKBZA0UcF0MITFMBqcCcmBoZCzbmWk1jTRcQMvLtvqfzv6hPZAT8WT9ZBcFAzMmAZASFpjNV2uyVIBzbxjhQTgxeeIkD3AnY2" />

    
    <add key="MvcMailer.BaseURL" value="" />
  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="1048576" />
    <customErrors mode="RemoteOnly" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="SharedLibrary.Helpers" />
      </namespaces>
    </pages>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true" />
    <!--<staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>-->
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <client>
      <endpoint address="https://www.googleapis.com/urlshortener/v1" binding="webHttpBinding" bindingConfiguration="webBinding" behaviorConfiguration="urlShortener" contract="GoogleAPI.UrlShortener.IUrlShortenerService" name="UrlShortenerREST" />
    </client>
    <bindings>
      <webHttpBinding>
        <binding name="webBinding">
          <security mode="Transport"></security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="urlShortener">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.7.4.0" newVersion="6.7.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.10.0" newVersion="2.1.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.22.0" newVersion="4.2.22.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.12.0" newVersion="1.2.12.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RazorEngine" publicKeyToken="9ee697374c7e744a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <loggingConfiguration tracingEnabled="true" defaultCategory="General">
    <logFilters>
      <add name="Category" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging" categoryFilterMode="AllowAllExceptDenied">
        <categoryFilters>
          <!--These will get disabled-->
          <add name="Trace" />
        </categoryFilters>
      </add>
      <add name="Priority" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter, Microsoft.Practices.EnterpriseLibrary.Logging" minimumPriority="0" />
      <add name="LogEnabled Filter" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.LogEnabledFilter, Microsoft.Practices.EnterpriseLibrary.Logging" enabled="true" />
    </logFilters>
    <categorySources>
      <add name="Debug" switchValue="All">
        <listeners>
          <add name="Flat File Destination" />
        </listeners>
      </add>
      <add name="Trace" switchValue="All">
        <listeners>
          <add name="Flat File Destination" />
        </listeners>
      </add>
      <add name="General" switchValue="All">
        <listeners>
          <add name="Flat File Destination" />
        </listeners>
      </add>
      <add name="Security" switchValue="All">
        <listeners>
          <add name="Flat File Destination" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <errors name="errors" switchValue="All">
        <listeners>
          <add name="Flat File Destination" />
        </listeners>
      </errors>
    </specialSources>
    <listeners>
      <add name="Flat File Destination" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" fileName="trace.log" header="----------------header------------------------" footer="----------------footer------------------------" formatter="Text Formatter" />
    </listeners>
    <formatters>
      <add name="Text Formatter" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" template="Timestamp: {timestamp}&#xA;Message: {message}&#xA;Category: {category}&#xA;Priority: {priority}&#xA;EventId: {eventid}&#xA;Severity: {severity}&#xA;Title: {title}&#xA;Machine: {machine}&#xA;Extended Properties: {dictionary({key} - {value}&#xA;)}" />
    </formatters>
  </loggingConfiguration>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>  
  </entityFramework>
</configuration>