@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    
    
    <link rel="stylesheet" type="text/css" href="http://www.prettydamnthrifty.co.za/content/Site.css" />

</head>
    <body>
        
        <center>
            
            <br/> 
            <img class="headerLogoImage" src="http://www.prettydamnthrifty.co.za/content/images/logo6.png" alt="Pretty Damn Thrifty" />


            <h3>Sorry, but we are currently experiencing some technical hiccups.
                <br /> Please try again later, or goto our <a href="http://www.facebook.com/prettydamnthrifty">Facebook Page</a></h3>
 
 
        </center>  
    
    </body>
</html>