@model IEnumerable<NoMatterWebApiModels.Models.Section>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sections</h2>

@foreach (var section1 in Model)
{

    @Html.ActionLink((string)section1.SectionName, "SectionShop", "Shop", new { sectionId = @section1.SectionId }, null) @:&nbsp; &nbsp;

    
}
