@{
    ViewBag.Title = "BrowserDetails";
}

<h2>Browser Details</h2>

 <li>Is Mobile: @Request.Browser.IsMobileDevice</li>
 <li>Screen Width: @Request.Browser.ScreenPixelsWidth</li>
 <li>Screen Height: @Request.Browser.ScreenPixelsHeight</li>

<br /><br />



