@{
    ViewBag.Title = "TechnicalStuff";
}

<h2>Technical Stuff</h2>


<div class="adminLinks">              

    <div class="adminLink">@Html.ActionLink("Authorise Facebook", "AuthoriseFacebook", "Account")</div>

    <div class="adminLink"> @Html.ActionLink("Facebook Details", "FacebookDetails", "Admin")</div>
        
    <div class="adminLink">@Html.ActionLink("Authorise Twitter", "AuthoriseTwitter", "Account")</div>

    <div class="adminLink">@Html.ActionLink("Browser Details", "BrowserDetails", "Admin")</div>

</div>
