@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
  <center>
<br /><br />
<img class="headerLogoImage" src="http://www.prettydamnthrifty.co.za/content/images/logo6.png" alt="Pretty Damn Thrifty" />


    <h3>We are sorry, but we are currently doing some maintenance.
    </h3>
 
 
 </center>  
    </div>
</body>
</html>
