@{
    ViewBag.Title = "Index";
}

  <br /><br />      
<div class="pageHeader">Superuser</div>

<br /><br />
@Html.ActionLink("View MySql script Results", "ViewMySqlResults", "Superuser")
<br /><br />
@Html.ActionLink("Run My Sql Script", "RunMySqlScript", "Superuser")
<br /><br />
@Html.ActionLink("Reload Settings Cache", "ReloadSettingsCache", "Superuser")

             
