@{
    ViewBag.Title = "Index";
}

  <br />   
<h1>Superuser</h1>
<br/>


@Html.ActionLink("View Sql script Results", "ViewMySqlResults", "Superuser")
<br /><br />
@Html.ActionLink("Run Sql Script", "RunMySqlScript", "Superuser")
<br /><br />
@*@Html.ActionLink("Reload Settings Cache", "ReloadSettingsCache", "Superuser")*@

             
