@using NoMatterWebApiWebHelper.OtherHelpers
@model NoMatterWebApiModels.ViewModels.ViewClientPageVm

@{
    ViewBag.Title = "Contact";
}

<style>
    #map-canvas {
        height: 400px;
        width: 600px;
        margin: 20px;
        padding: 20px 0;
        margin:0 auto;
    }
</style>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>
        var map;
        function initialize() {
            
            var myLatlng = new google.maps.LatLng('@StaticGlobalSettings.ClientLatitude', '@StaticGlobalSettings.ClientLongitude');
            
            var mapOptions = {
                zoom: 16,
                center: myLatlng
            };
            map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);
            
            marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: 'Wonderland Vintage'
            });
            markersArray.push(marker);
            
        }

        google.maps.event.addDomListener(window, 'load', initialize);

    </script>


<h1>Contact us</h1>


 @Html.Raw(Model.PageText)


<div id="map-canvas"></div>