@{
    ViewBag.Title = "ContactUsSuccessful";
}


<div class="pageHeader">email sent successfully</div>
<br />


Thank you for your enquiry. We will contact you shortly. 
<br /><br />
If you have any other queries please feel free to contact us at <a href="mailto:info@prettydamnthrifty.co.za?Subject=Website%20Enquiry" target="_top">info@prettydamnthrifty.co.za</a>

<br /><br />



