@using SharedLibrary.Helpers
@{
    ViewBag.Title = "Size Guide";
}

<script src="@Url.Content("~/Scripts/GoogleAnalytics.js")" type="text/javascript"></script>

@{Html.RenderPartial("partialMobileMenu");}  

<div class="pageHeader">Size Guide</div>
    <br />
    <a href="javascript: history.go(-1)" class="BackLink">back</a>
    <br/><br/>

@{   
     var text = StringTemplateHelper.GetStringTemplateText("SizingGuide");
}

 @Html.Raw(text)

<div class="sizingGuidePictures">

    @{Html.RenderPartial("partialPictureSlider", SliderStaticCache.GetSlider("SizingGuide1"));}
    
    @{Html.RenderPartial("partialPictureSlider", SliderStaticCache.GetSlider("SizingGuide2"));}
    
    @{Html.RenderPartial("partialPictureSlider", SliderStaticCache.GetSlider("SizingGuide3"));}
    
 

</div>
  
<script src="@Url.Content("~/Scripts/GoogleAnalytics.js")" type="text/javascript"></script>

